global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend mailforge_https
    bind :443
    default_backend stalwart_https
backend stalwart_https
    server origin origin-stalwart:443 check

frontend mailforge_submission_tls
    bind :465
    default_backend stalwart_submission_tls
backend stalwart_submission_tls
    server origin origin-stalwart:465 check

frontend mailforge_submission
    bind :587
    default_backend stalwart_submission
backend stalwart_submission
    server origin origin-stalwart:587 check

frontend mailforge_imaps
    bind :993
    default_backend stalwart_imaps
backend stalwart_imaps
    server origin origin-stalwart:993 check
